# root
.env
.env.production
tmp

# client
node_modules

/client/.cache
/client/build
/client/public/build

# api
## Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

## Test binary, built with `go test -c`
*.test

## Output of the go coverage tool, specifically when used with LiteIDE
*.out

## Go workspace file
go.work
go.work.sum

# infra-ts
infra-ts/*.js
!jest.config.js
*.d.ts

.cdk.staging
